{% extends "base.html" %}

{% macro input(name, label, value='', type='text') -%}
<div class="form-group">
  <label>{{ label }}</label>
  <input type="{{ type }}" name="{{ name }}" class="form-control" value="{{ value|e }}">
</div>
{%- endmacro %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-2 main">
  <h1 class="sub-header">宛名、住所の編集</h1>
  <form method="POST">
    {{ input('family_name', '氏', item.family_name) }}
    {{ input('given_name', '名', item.given_name) }}
    {{ input('joint_name1', '追加1', item.joint_name1) }}
    {{ input('joint_name2', '追加2', item.joint_name2) }}
    {{ input('zipcode', '郵便番号', item.zipcode) }}
    {{ input('address1', '住所1', item.address1) }}
    {{ input('address2', '住所1', item.address2) }}
    <input type="hidden" name="id" value="{{ item.id }}">
    <button type="submit">適用</button>
  </form>
</div>
{% endblock %}
